<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebAppOMST-20200927101459.mdf;Initial Catalog=aspnet-WebAppOMST-20200927101459;Integrated Security=True"
	  providerName="System.Data.SqlClient" />
	<add name="WSdb"
		  connectionString="Data Source=DESKTOP-70919O9\NAIT2020; Initial Catalog=WorkSchedule; Integrated Security=true"
		  providerName="System.Data.SqlClient"/>
</connectionStrings>
