<appSettings>
  <add key="startupRoles" value="Administrator;Director;OfficeManager;Clerk;FoodService" />
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@eRace.ca" />
  <add key="adminPassword" value="Password" />
  <add key="adminRole" value="Administrator" />
  
  <add key="directorRole" value="Director" />
  <add key="officeManagerRole" value="OfficeManager" />
  <add key="clerkRole" value="Clerk" />
  <add key="foodserviceRole" value="FoodService"/>
  

  <add key="newUserPassword" value="Password" />
</appSettings>
