<connectionStrings>
	<add name="eRaceDB" connectionString="Data Source=DESKTOP-70919O9\NAIT2020; Initial Catalog=eRace; Integrated Security=true;"
			   providerName="System.Data.SqlClient"/>
	<add name="DefaultConnection" 
		 connectionString="Data Source=DESKTOP-70919O9\NAIT2020;Initial Catalog=eRace;Integrated Security=True" 
		 providerName="System.Data.SqlClient" />
</connectionStrings>
